/* ==================== GOOGLE FONTS ==================== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/* ==================== VARIABLES CSS ==================== */
:root {
  --header-height: 3rem;

  /* ========== Colors ========== */

  /* Change favorite color */
  --hue-color: 250; /* Purple 250 - Green 142 - Blue 230 - Pink 340 */

  /* HSL color mode */
  --first-color: hsl(var(--hue-color), 69%, 61%);
  --first-color-second: hsl(var(--hue-color), 69%, 61%);
  --first-color-alt: hsl(var(--hue-color), 57%, 53%);
  --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
  --title-color: hsl(var(--hue-color), 8%, 15%);
  --text-color: hsl(var(--hue-color), 8%, 45%);
  --text-color-light: hsl(var(--hue-color), 8%, 65%);
  --input-color: hsl(var(--hue-color), 70%, 96%);
  --body-color: hsl(var(--hue-color), 60%, 99%);
  --container-color: #fff;
  --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);

  /* ========== Font and typography ========== */
  --body-font: "Poppins", sans-serif;

  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /* ========== Font weight ========== */
  --font-medium: 500;
  --font-semi-bold: 600;

  /* ========== Margenes Bottom ========== */

  /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /* ========== z index ========== */
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
  padding: 0 !important;
  margin: 0 !important;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* ==================== REUSABLE CSS CLASSES ==================== */
.section {
  padding: 2rem 1rem 10% 1rem;
}

.section-title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
}

.section-subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-3);
}

.section-title,
.section-subtitle {
  text-align: center;
}

/* ==================== LAYOUT ==================== */
.container {
  max-width: 768px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

.nav-menu,
.menu {
  display: none;
}

/* ==================== NAV ==================== */
.nav-list {
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.nav-mobile-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: small;
  color: #172b4d;
}

.nav-mobile-link:hover {
  color: #7f8cff;
}

.nav-icon {
  font-size: 1.2rem;
}

.nav-close {
  position: absolute;
  right: 1.3rem;
  bottom: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: #172b4d;
}

.nav-close:hover {
  color: red;
}

/* ==================== MAIN ==================== */

.side-panel-container {
  position: fixed;
  align-items: flex-end;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  left: 0;
  width: 7rem;
}

.side-panel-list-item {
  padding: 25px 0;
}

.side-panel-hr {
  align-self: center;
  border: 0.5px solid;
  margin: 6rem 0 0 42px;
  transform: rotate(90deg);
  width: 130px;
}

.intro-radious {
  border-bottom-left-radius: 100px;
  padding: 359px 260px 255px 260px;
  background-color: #fff;
}

.cards-radious {
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  margin: 80px 20px;
  padding: 16px 16px 40px 16px;
  display: flex;
  flex-direction: row;
  background-color: #fff;
  justify-content: space-evenly;
  gap: 2rem;
}

.reverse {
  flex-direction: row-reverse;
}

.logo {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
  padding: 1rem;
  margin-left: 2rem;
}

.info {
  list-style: none;
  display: flex;
  margin: 16px 142px 16px 0;
  align-items: center;
}

.info a {
  margin-right: 32px;
  line-height: 20px;
}

.head-title {
  font-style: normal;
  font-weight: bold;
  color: #172b4d;
  margin: 0;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 0.37px;
}

.nav_header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  background-color: white;
  width: 100%;
}

.content {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #344563;
  margin: 12px auto;
}

.connect {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin-bottom: 14px;
}

.fab,
.far {
  color: #505f79;
  font-size: 20px;
  margin-right: 20px;
  display: inline;
  float: left;
}

.icons {
  list-style: none;
  margin: 0;
}

/* 1st Project */

.project-name {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  margin: 12px 0 0 0;
  grid-column-start: 2;
}

.canopy {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #344563;
}

.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 12px 0 24px 0;
  grid-column-start: 2;
}

.list p {
  margin-right: 32px;
}

.date {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #7a869a;
}

.content-media {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  margin: 0;
  grid-column-start: 2;
}

.btns {
  display: flex;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  list-style: none;
  padding-left: 0;
  margin: 24px 0 42px 0;
  justify-content: space-around;
  flex-wrap: wrap;
}

.view p {
  padding: 10px;
  border: solid black;
  border-radius: 8px;
  border-width: thin;
  margin-top: auto;
  border-color: #6070ff;
}

.language p {
  margin-left: 16px;
}

.snapshoot-5 p {
  padding-left: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
}

.frameworks p {
  margin-left: 16px;
}

.btns li p {
  background-color: #ebebff;
  border-radius: 8px;
  padding: 4px 12px;
}

.view {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  letter-spacing: 0.03em;
  margin: 0;
  color: #396df2;
  grid-column-start: 2;
}

.view :hover {
  background-color: #6070ff;
  color: #fff;
  border-color: #6070ff;
}

.view :active {
  background-color: #2230d2;
  color: #fff;
  border-color: #2230d2;
}

.view :disabled {
  background-color: #e5e5e5;
  color: #5e6c84;
  border-color: #5e6c84;
}

.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: var(--font-medium);
}

.button:hover {
  background-color: var(--first-color-alt);
}

.button-icon {
  font-size: 1rem;
  margin-left: var(--mb-0-5);
  transition: 0.3s;
}

.button--flex {
  display: inline-flex;
  align-items: center;
}

.button-live {
  background-color: #fff;
  color: var(--first-color);
}

.button-live:hover {
  color: #fff;
}

/* ==================== PORTFOLIO ==================== */
.portfolio-container {
  overflow: initial;
}

.portfolio-content {
  padding: 0 3rem;
}

.portfolio-img {
  width: 265px;
  height: 150px;
  border-radius: 0.5rem;
  justify-self: center;
}

.portfolio-title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-0-5);
}

.portfolio-description {
  margin-bottom: var(--mb-0-75);
}

.portfolio-button:hover .button-icon {
  transform: translateX(0.25rem);
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: "" !important;
}

.swiper-portfolio-icon {
  font-size: 2rem;
  color: var(--first-color);
}

.swiper-button-prev {
  left: -0.2rem !important;
}

.swiper-button-next {
  right: -0.2rem !important;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: -2.5rem !important;
}

.swiper-pagination-bullet-active {
  background-color: var(--first-color) !important;
}

.swiper-button-prev,
.swiper-button-next,
.swiper-pagination-bullet {
  outline: none !important;
}

/* ==================== TESTIMONIAL ==================== */
.testimonial-container {
  cursor: pointer;
}

.testimonial-data,
.testimonial-header {
  display: flex;
}

.testimonial-data {
  justify-content: space-between;
  margin-bottom: var(--mb-1);
}

.testimonial-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: var(--mb-0-75);
}

.testimonial-name {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}

.testimonial-role {
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

.testimonial-description {
  margin-bottom: var(--mb-2-5);
}

.testimonial-icon-star {
  color: var(--first-color);
}

.swiper-container .swiper-pagination-testimonial {
  bottom: 0;
}

/* ==================== ABOUT ==================== */

.wrapper-about {
  width: 100%;
  background-color: #fff;
  padding: 0 19% 10% 19%;
}

.about-description {
  margin-bottom: var(--mb-0-75);
}

.list-tech {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem 0 2rem 0;
}

.tech-arrow-icon {
  font-size: 0.7rem;
  color: var(--first-color);
}

.resume-button {
  margin: 0.5rem 0;
}

.resume-button:hover .button-icon {
  transform: translateX(0.25rem);
}

/* ==================== CONTACT ==================== */

.wrapper-contact {
  padding: 0 19% 10% 19%;
  border-top-left-radius: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #172b4d;
}

.contact-title {
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  justify-content: center;
}

.content-contact {
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  margin: 12px auto;
  text-align: center;
}

.list-form li {
  list-style: none;
  margin: 27px 0;
}

.name-contact {
  height: 48px;
  padding: 15px;
  border-radius: 20px;
  border: 1px solid #ced4da;
  color: #212529;
  background-color: #fff;
  min-width: 45rem;
}

textarea {
  resize: none;
  padding: 15px;
  border-radius: 20px;
  border: 1px solid #ced4da;
  color: #212529;
  background-color: #fff;
  width: 100%;
  height: auto;
}

.contact-button {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  letter-spacing: 0.03em;
  padding: 12px 16px;
  border: 1px solid #fff;
  border-radius: 8px;
  transition: 0.1s ease-out;
}

.submit-button :hover {
  transform: translateY(-5px);
}

.submit-button :active {
  background-color: #2230d2;
  color: #fff;
  border-color: #2230d2;
}

.submit-button :disabled {
  background-color: #e5e5e5;
  color: #5e6c84;
  border-color: #5e6c84;
}

.submit-button {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 786px) {
  .nav-menu {
    display: block;
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: 0.3s;
  }

  .show-menu {
    bottom: 0;
  }

  .intro-radious {
    padding: 100px 40px 150px 40px;
  }

  .cards-radious {
    display: flex;
    flex-direction: column;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
    margin: 80px 20px;
  }

  .logo {
    margin: 0;
  }

  .head-title {
    font-size: 40px;
    line-height: 52px;
    margin: 0;
  }

  .nav_header {
    color: #7f8cff;
    position: fixed;
    bottom: 0;
    left: 0;
  }

  .menu {
    display: block;
    cursor: pointer;
    padding: 1rem;
  }

  .menu i {
    color: #6070ff;
  }

  #menu-app:hover {
    color: #172b4d;
  }

  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #6070ff;
    border-radius: 20px;
  }

  /* Active classes for mobile  */

  .info {
    position: fixed;
    left: -120%;
    top: 0;
    gap: 0;
    flex-direction: column;
    background-color: #6070ff;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 1;
    opacity: 0.9;
  }

  .nav-link {
    color: #fff;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    z-index: 2;
    opacity: 10;
  }

  .content {
    font-size: 16px;
    color: #344563;
    margin: 12px auto;
  }

  .connect {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
    margin-bottom: 12px;
  }

  /* 1st Project */

  .project-name {
    font-size: 32px;
    line-height: 44px;
    color: #172b4d;
  }

  .canopy {
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
  }

  .list {
    display: flex;
    align-items: center;
    margin: 12px 0;
    justify-content: space-between;
  }

  .list p {
    margin-right: 32px;
  }

  .date {
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #7a869a;
  }

  .btns {
    font-weight: 500;
    font-size: 12px;
  }

  .languages-about {
    margin: 24px 0 0 0;
  }

  /* Contacts */

  .wrapper-contact {
    border-top-left-radius: 80px;
  }

  .name-contact {
    min-width: 20rem;
  }
}
