/* ==================== GOOGLE FONTS ==================== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/* ==================== VARIABLES CSS ==================== */
:root {
  --header-height: 3rem;

  /* ========== Colors ========== */

  /* Change favorite color */
  --hue-color: 250; /* Purple 250 - Green 142 - Blue 230 - Pink 340 */

  /* HSL color mode */
  --first-color: hsl(var(--hue-color), 69%, 61%);
  --first-color-second: hsl(var(--hue-color), 69%, 61%);
  --first-color-alt: hsl(var(--hue-color), 57%, 53%);
  --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
  --title-color: hsl(var(--hue-color), 8%, 15%);
  --text-color: hsl(var(--hue-color), 8%, 45%);
  --text-color-light: hsl(var(--hue-color), 8%, 65%);
  --input-color: hsl(var(--hue-color), 70%, 96%);
  --body-color: hsl(var(--hue-color), 60%, 99%);
  --body-color-dark: #f1f1f1;
  --container-color: #fff;
  --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);

  /* ========== Font and typography ========== */
  --body-font: "Poppins", sans-serif;

  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /* ========== Font weight ========== */
  --font-medium: 500;
  --font-semi-bold: 600;

  /* ========== Margenes Bottom ========== */

  /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /* ========== z index ========== */
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;

  /* ========== border, transition ========== */
  --border-radius: 8px;
  --transition: 0.5s ease-in-out;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
  padding: 0 !important;
  margin: 0 !important;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

main {
  transition: var(--transition);
}

main.active {
  filter: blur(7px);
  pointer-events: none;
  user-select: none;
  background-color: var(--body-color-dark);
  transition: var(--transition);
}

/* ==================== REUSABLE CSS CLASSES ==================== */
.section {
  padding: 2rem 1rem 10% 1rem;
}

.section-title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
}

.section-subtitle {
  display: block;
  font-size: var(--normal-font-size);
  margin-bottom: var(--mb-3);
}

.section-title,
.section-subtitle,
.skills {
  text-align: center;
}

.bold-text {
  color: var(--first-color-alt);
}

/* ==================== LAYOUT ==================== */
.container {
  max-width: 768px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

.nav-menu,
.menu {
  display: none;
}

/* ==================== NAV ==================== */
.nav-header {
  /* position: fixed; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  background-color: white;
  width: 100%;
  z-index: 5;
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
}

.nav-bar {
  list-style: none;
  color: var(--title-color);
  display: flex;
  margin: 16px 142px 16px 0;
  align-items: center;
}

.nav-bar a {
  margin-right: 32px;
  line-height: 20px;
}

.nav-list {
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.nav-icon {
  font-size: 1.2rem;
}

.nav-close {
  position: absolute;
  right: 1.3rem;
  bottom: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: #172b4d;
}

.nav-close:hover {
  color: red;
}

/* ==================== SIDE PANEL ==================== */

.side-panel-container {
  position: fixed;
  align-items: flex-end;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  left: 0;
  width: 6.5rem;
}

.side-panel-list-item {
  padding: 25px 0;
}

.side-panel-hr {
  align-self: center;
  border: 0.5px solid;
  margin: 6rem 0 0 2rem;
  transform: rotate(90deg);
  width: 130px;
}

.side-panel-footer {
  display: block;
  text-align: center;
  margin: 4rem 0 -1.5rem 0;
}

/* ==================== MAIN ==================== */

.intro {
  border-bottom-left-radius: 100px;
  padding: 359px 260px 255px 260px;
  background-color: #fff;
}

.logo {
  font-size: 18px;
  line-height: 20px;
  padding: 1rem;
  border: 1px solid var(--first-color-alt);
  border-radius: 50%;
  background-color: #fff;
  color: var(--first-color-alt);
  margin: 1rem;
}

.head-small-intro {
  font-size: 1rem;
  color: var(--first-color);
}

.head-intro {
  font-style: normal;
  font-weight: bold;
  color: var(--title-color);
  margin: 0;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 0.37px;
}

.subhead-intro {
  color: var(--first-color);
}

.description {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #344563;
  margin: 12px auto;
}

.fab,
.far {
  color: #505f79;
  font-size: 20px;
  margin-right: 20px;
  display: inline;
  float: left;
}

/* ==================== BUTTONS ==================== */

.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: var(--font-medium);
}

.button:hover {
  background-color: var(--first-color-alt);
}

.button-icon {
  font-size: 1rem;
  margin-left: var(--mb-0-5);
  transition: var(--transition);
}

.button--flex {
  display: inline-flex;
  align-items: center;
}

.button-live,
.button-projects {
  background-color: #fff;
}

.button-live {
  color: var(--first-color);
  margin-bottom: 3rem;
}

.button-live:hover {
  color: #fff;
}

/* ==================== PORTFOLIO ==================== */

.portfolio {
  padding: 8% 8% 10% 8%;
}

.dark-body {
  background-color: var(--body-color-dark);
}

.portfolio-container {
  display: grid;
  justify-content: center;
  overflow: initial;
  max-width: 1200px;
  margin: 0 auto;
  gap: 2.5rem;
  transition: var(--transition);
}

.portfolio-container.active {
  filter: blur(20px);
  pointer-events: none;
  user-select: none;
  transition: var(--transition);
}

.portfolio-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  background-color: var(--body-color);
  border-radius: 2rem;
  gap: 1.5rem;
  padding: 3rem 2rem;
  max-width: 80rem;
  transition: var(--transition);
}

.portfolio-content:hover {
  box-shadow: 0 0 50px #ccc;
}

.reverse {
  grid-row-start: 1;
}

.portfolio-img {
  width: 100%;
  height: 20rem;
  border-radius: 24px;
  padding: 1rem;
  background-color: var(--body-color-dark);
}

.portfolio-data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: var(--mb-0-75);
  gap: 20px;
}

.portfolio-tech-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.tech-item {
  padding: 7px;
  font-size: var(--small-font-size);
  border-radius: var(--border-radius);
  background-color: var(--body-color-dark);
  margin: 0 10px 10px 0;
}

.portfolio-title {
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-0-5);
}

.portfolio-description {
  margin-bottom: var(--mb-0-75);
}

.portfolio-button:hover .button-icon {
  transform: translateX(0.25rem);
}

.button-project {
  background-color: #fff;
  outline: none;
  border: solid 1px var(--first-color-alt);
  color: var(--first-color-alt);
  border-radius: var(--border-radius);
  padding: 1rem;
  transition: var(--transition);
}

.button-project:hover {
  color: #fff;
  background-color: var(--first-color-alt);
}

/* ==================== POPUP ==================== */
.popUp-container {
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  width: 80%;
  overflow-y: scroll;
  max-height: 90%;
  padding: 1.5rem;
  margin: 0.5rem auto;
  background-color: #fff;
  border-radius: 24px;
  visibility: hidden;
  opacity: 0;
  transition: var(--transition);
}

.popUp-container.active {
  visibility: visible;
  opacity: 1;
  transition: var(--transition);
}

.popUp-close-btn {
  font-size: 25px;
  margin-left: 100%;
  background-color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}

.popUp-img {
  padding: 1.5rem 0;
  width: 100%;
  height: 40rem;
}

.popUp-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

.popUp-title {
  font-size: var(--h1-font-size);
}

.popUp-data {
  display: grid;
  grid-template-columns: 1fr 35%;
  align-items: center;
  gap: 1.5rem;
}

/* ==================== TESTIMONIAL ==================== */

.testimonial {
  padding: 8% 8% 10% 8%;
}

.testimonial-container {
  cursor: pointer;
}

.testimonial-data,
.testimonial-header {
  display: flex;
}

.testimonial-data {
  justify-content: space-between;
  margin-bottom: var(--mb-1);
}

.testimonial-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: var(--mb-0-75);
}

.testimonial-name {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}

.testimonial-role {
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

.testimonial-description {
  margin-bottom: var(--mb-2-5);
}

.testimonial-icon-star {
  color: var(--first-color);
}

.swiper-container .swiper-pagination-testimonial {
  bottom: 0;
}

/* ==================== ABOUT ==================== */

.about {
  width: 100%;
  background-color: #fff;
  padding: 0 8% 8% 8%;
  text-align: center;
}

.about-description {
  margin-bottom: var(--mb-0-75);
}

.skills {
  display: block;
  font-size: var(--h3-font-size);
  color: var(--title-color);
  padding: 1rem;
}

.skills-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.tech-arrow-icon {
  font-size: 0.7rem;
  color: var(--first-color);
}

.resume-button {
  margin: 0.5rem 0;
  color: #fff;
}

.resume-button:hover .button-icon {
  transform: translateX(0.25rem);
}

/* ==================== CONTACT ==================== */

.contact {
  padding: 0 19% 0 19%;
  border-top-left-radius: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #172b4d;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-input {
  height: 48px;
  padding: 15px;
  margin: 27px 0;
  border-radius: 20px;
  border: 1px solid #ced4da;
  background-color: #fff;
  min-width: 45rem;
}

.contact-textarea {
  resize: none;
  padding: 2rem;
  height: 10rem;
  margin: 27px 0;
  border-radius: 20px;
  border: 1px solid #ced4da;
  color: #212529;
  background-color: #fff;
  width: 100%;
}

.contact-button {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  letter-spacing: 0.03em;
  padding: 12px 16px;
  border: 1px solid #fff;
  border-radius: var(--border-radius);
  transition: var(--transition);
}

.submit-button :hover {
  transform: translateY(-5px);
}

.submit-button :active {
  background-color: #2230d2;
  color: #fff;
  border-color: #2230d2;
}

.submit-button :disabled {
  background-color: #e5e5e5;
  color: #5e6c84;
  border-color: #5e6c84;
}

/* .submit-button {
  display: flex;
  justify-content: center;
} */

@media screen and (max-width: 786px) {
  /* ==================== REUSABLE CSS CLASSES ==================== */
  .section-subtitle {
    font-size: var(--small-font-size);
  }

  /* ==================== SIDE PANEL ==================== */
  .side-panel-container {
    display: block;
    position: static;
    left: auto;
    bottom: auto;
    width: 100%;
    margin-top: 5rem;
  }

  .side-panel-hr {
    display: none;
  }

  .side-panel-icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .side-panel-footer {
    margin: 1rem 0 5.5rem 0;
  }

  /* ==================== NAV ==================== */
  .nav-menu {
    display: block;
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: var(--transition);
  }

  .nav-header {
    position: fixed;
    bottom: 0;
    left: 0;
    box-shadow: 0 -1px 4px rgb(0 0 0 / 15%);
  }

  .nav-mobile-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: small;
    color: var(--title-color);
    text-align: center;
  }

  .nav-link {
    color: #fff;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    z-index: 2;
    opacity: 10;
  }

  .nav-bar {
    position: fixed;
    left: -120%;
    top: 0;
    gap: 0;
    flex-direction: column;
    background-color: #6070ff;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 1;
    opacity: 0.9;
  }

  /* ==================== MAIN ==================== */
  .show-menu {
    bottom: 0;
  }

  .intro {
    padding: 100px 40px 150px 40px;
  }

  .logo {
    font-size: 15px;
    margin: 0.5rem;
  }

  .head-title {
    font-size: 40px;
    line-height: 52px;
    margin: 0;
  }

  .menu {
    display: block;
    cursor: pointer;
    padding: 0 1rem;
    font-size: 1.4rem;
  }

  .menu i {
    color: #6070ff;
  }

  #menu-app:hover {
    color: #172b4d;
  }

  .description {
    font-size: 16px;
    color: #344563;
    margin: 12px auto;
  }

  .skills-list {
    grid-template-columns: repeat(2, 1fr);
  }

  /* ==================== PORTFOLIO ==================== */
  .portfolio-content {
    grid-template-columns: 1fr;
  }

  .portfolio-img {
    height: auto;
  }

  .reverse {
    grid-row-start: auto;
  }

  /* ==================== TESTIMONIAL ==================== */
  .testimonial-description {
    margin-bottom: var(--mb-0-25);
  }

  /* ==================== CONTACTME ==================== */
  .contact {
    padding: 15% 19% 0 19%;
    border-top-left-radius: 80px;
  }

  .content-contact {
    font-size: 16px;
  }

  .contact-input {
    min-width: 20rem;
  }

  /* ==================== POPUP ==================== */
  .popUp-container {
    top: 45%;
    width: 90%;
  }

  .popUp-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .popUp-img {
    height: auto;
  }
}
